

@model List<DataAccess.Entity.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-9">
        <div class="row product-list">
            @foreach (var product in Model)
            {


                <div class="col-md-4">
                    <section class="panel">
                        <div class="pro-img-box">
                            @*@if (product.ProductImagePath != null)
                            {
                                <img src="~/Content/image/product/@product.ProductImagePath" alt="">
                            }
                            else
                            {*@
                                <img src="https://st4.depositphotos.com/13324256/24475/i/600/depositphotos_244751462-stock-photo-top-view-product-lettering-made.jpg" alt="">

                            @*}*@
                            <br />
                            <a href="/Home/AddToCart/@product.ID" class="adtocart">
                                <i class="icon-shopping-cart"></i>
                            </a>
                        </div>

                        <div class="panel-body text-center">
                            <h4>


                                @Html.ActionLink(product.ProductName, "Details", "Product", new { id = product.ID }, new { @class = "pro-title" })
                            </h4>
                            <p class="price">$@product.UnitPrice</p>
                            <p class="price">$@product.UnitsInStock</p>
                        </div>
                    </section>
                </div>
            }
        </div>
    </div>
</div>

